div.sidebar_left {
	float: left;
	width: 300px;
}

div.image_container {
	margin-left: 310px;
}

div.details_container {
	font-size: 10pt;
	margin: 15px auto 0px auto;
	width: 900px;
	text-align: left;
}

img.details_image {
	max-height: 500px;
	max-width: 500px;
}


h4 {
	border-bottom: 1px solid #09C3DD;
	border-left: 10px solid #09C3DD;
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
}

ul {
	list-style: none;
	padding: 0px;
	margin-bottom: 50px;
}

li.tag {
	float:left;
	margin-right: 10px;
	margin-bottom: 2px;
}


button {
	background-color: #2a2a2a;
	border: 0px;
	color: #fff;
	height: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

button:hover {
	background-color: #00498f;
}

li.tag button {
	height: 20px;
}
